<ion-header>
  <ion-toolbar>
    <ion-title>A Palavra</ion-title>
    <ion-button slot="end" (click)="closeAll()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Exibição da lista de livros -->
  <div *ngIf="showBooks ">
    <ion-list>
      <ion-item *ngFor="let book of dataBooks" (click)="getChapters(book.id)">
        {{ book?.name }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Lista de capítulos do livro selecionado -->
  <div *ngIf="showChapters ">
    <ion-list>
      <ion-item *ngFor="let chap of selectedChapters" (click)="getVerses(chap.id)">
        Capítulo {{ chap?.number }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Exibição dos versículos -->
  <div class="eb-container" *ngIf="showVerses">
    <ion-list>
      <ion-item *ngFor="let verse of chapterData">
        {{ verse?.content }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
