<ion-header >
  <ion-toolbar>
    <ion-title slot="start">A Palavra</ion-title>
      <ion-button slot="end" (click)="closeAll()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showBooks && dataBoocks.length > 0">
    <ion-list>
      <ion-item *ngFor="let book of dataBoocks" (click)="getChap(book.chapters, book.abbrev.pt)">
        {{ book.name }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Lista de capítulos -->
  <div *ngIf="showChapters">
    <ion-list>
      <ion-item *ngFor="let chap of seletctedBookChap" (click)="getVersiculo(chap)">
        Capítulo {{ chap }}
      </ion-item>
    </ion-list>
  </div>

  <!-- Exibição dos versículos -->
  <div class="read" *ngIf="showVerses">
    <ion-list>
      <ion-item *ngFor="let verse of chapterData.verses">
        {{ verse.number }} - {{ verse.text }}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
