body, ion-content {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
}

ion-item {
  --padding-start: 18px;
}

ion-item-sliding {
  flex: 0 0 auto; /* Para que cada item tenha apenas a largura necessária */
  display: flex;
}

.card {
  height: 150px;
  width: 500px;
  margin-right: 10px; /* Espaçamento entre os cards */
}
ion-toolbar {
  --background: radial-gradient(rgb(94, 84, 84), rgb(0, 0, 0)) !important;
  color: rgb(0, 255, 4);
  text-align: center;
  height: 55px;

}
ion-title{
  color: rgb(0, 255, 4);
  text-align: center;
  font-size: 1,8rem;
}

ion-buttons{
  margin-bottom: 13px;
}
ion-button, ion-icon{
  --background: radial-gradient(rgb(94, 84, 84), rgb(0, 0, 0)) !important;
  color: rgb(0, 255, 4);
}

ion-header{
  height: 45px;
}
.read{
  --background: black;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */

}
