body, ion-content {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
  font-family: Arial, sans-serif;
}
ion-toolbar {
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 45px;
}

.divider{
  border: none;           /* Remove a borda padrão */
  height: 2px;            /* Altura da linha */
  background-color: rgb(0, 255, 4);;  /* Cor da linha */
  margin: 0;
}
h1{
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 20px;

}
h2{
  color: rgb(85, 85, 85);
  margin-left: 30px;
  margin-right: 30px;

}
p{
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 10px;
}
blockquote{
  color: rgb(85, 85, 85);
  margin-left: 30px;
  margin-right: 30px;

}
ion-button {

  margin: 10px;
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px;
  --border-color: rgb(0, 255, 4);
  max-width: 20rem;
}
