<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Meditação</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToDetailPage(20)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<hr class="divider">
<ion-content>
  <form #f="ngForm" (ngSubmit)="enviando(f)">
    <ion-toolbar>
      <p>Título</p>
    </ion-toolbar>
    <ion-item>
      <ion-input  label-placement="floating" placeholder="Digite o título" type="text" [(ngModel)]="dados.title" name="title"></ion-input>
    </ion-item>

    <ion-toolbar>
      <p>Autor</p>
    </ion-toolbar>
    <ion-item>
      <ion-input  label-placement="floating" placeholder="Digite o autor" type="text" [(ngModel)]="dados.author" name="author"></ion-input>
    </ion-item>

    <ion-toolbar>
      <p>Imagem</p>
    </ion-toolbar>
    <ion-item>
      <ion-input  label-placement="floating" placeholder="URL da imagem" type="url" [(ngModel)]="dados.img" name="img"></ion-input>
    </ion-item>

    <ion-toolbar>
      <p>Sub Título</p>
    </ion-toolbar>
    <ion-item>
      <ion-input  label-placement="floating" placeholder="Digite o Sub título" type="text" [(ngModel)]="dados.frase" name="frase"></ion-input>
    </ion-item>

    <ion-toolbar>
      <p>Texto Longo</p>
    </ion-toolbar>
    <ion-item >
      <ion-textarea label-placement="floating" placeholder="Digite o texto longo" [(ngModel)]="dados.text" name="text"></ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button class="boton" fill="outline" expand="block" type="submit">Publicar</ion-button>
</ion-footer>
