body {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
  font-family: Arial, sans-serif;
  --background: rgb(255, 255, 255);
}

ion-content {
  --background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100%;
}

  .carrossel {
  margin-top: -32px;
  display: flex;
  overflow-x: auto; /* Permite a rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Para rolagem suave em dispositivos móveis */
}
.card {
  height: 150px;
  width: 500px;
  margin-right: 10px; /* Espaçamento entre os cards */
}
.img {
  height: 80%;

}
.title{
  font-family: Arial, sans-serif;
  font-size: 1rem;

}

ion-item {
  --padding-start: 18px;
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

ion-item-sliding {
  flex: 0 0 auto; /* Para que cada item tenha apenas a largura necessária */
  display: flex;
}

ion-header{
  height: 45px;
}
ion-toolbar {
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 45px;
}

ion-button {

  margin: 10px;
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px;
  --border-color: rgb(0, 255, 4);
  max-width: 30rem;
}

ion-card{
  margin-bottom: 30px;
}

img{
  height: 100%;

}

.divider{
  border: none;           /* Remove a borda padrão */
  height: 2px;            /* Altura da linha */
  background-color: rgb(0, 255, 4);;  /* Cor da linha */
  margin: 0;
}
ion-card{
  --background: rgb(255, 255, 255);
  margin-left: 15px;
  margin-right: 15px;
}
.card-imagem{
  width: auto; /* Defina a largura desejada */
  height: auto; /* Defina a altura desejada */
  background-image: url('https://picsum.photos/seed/picsum/200/300');
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
}
ion-card-subtitle{
  color: black;
  font-size: 1.1rem;
  margin: 10px;
}
ion-card-title{
  color: black;
  font-size: 1.3rem;
  margin: 10px;

}
