body {
  margin: 0;
  padding: 0;
  height: 100%; /* Certifica-se de que o conteúdo ocupa 100% da tela */
  font-family: Arial, sans-serif;
  --background: #87CEEB;;
}

ion-content {
  --background: radial-gradient(circle, rgb(255, 255, 255),rgb(255, 255, 255),  rgb(230, 244, 250));
  background-attachment: fixed; /* Mantém o fundo fixo ao rolar */
  background-size: cover; /* Cobre a tela inteira */
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrossel {
  margin-top: -32px;
  display: flex;
  overflow-x: auto; /* Permite a rolagem horizontal */
  -webkit-overflow-scrolling: touch; /* Para rolagem suave em dispositivos móveis */
}

.card {
  height: 150px;
  width: 500px;
  margin-right: 10px; /* Espaçamento entre os cards */
}

.img {
  height: 80%;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

ion-item {
  --padding-start: 18px;
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

ion-item-sliding {
  flex: 0 0 auto; /* Para que cada item tenha apenas a largura necessária */
  display: flex;
}

ion-header {
  --background: transparent !important;
}

ion-toolbar {
  height: 45px;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between; /* Distribui o espaço entre a imagem e os botões */
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100px; /* Ajuste conforme necessário para o tamanho da imagem */
}

.img-title {
  margin-left: 35px;
  max-height: 100%; /* Ajusta a altura da imagem para caber na toolbar */
  object-fit: cover; /* Mantém a proporção da imagem */
}

ion-icon{
  display: flex;
  justify-content: center;
  align-items: center;

}

ion-button {
  margin: 10px;
  --background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px;
  --border-color: #A9A9A9;
  max-width: 30rem;
}

ion-card {
  margin-bottom: 30px;
}

img {
  height: 100%;
}

.divider {
  border: none;           /* Remove a borda padrão */
  height: 2px;            /* Altura da linha */
  background-color: rgba(135, 206, 235, 1); /* Cor da linha */
  margin: 0;
}

ion-card {
  --background:#ececec;
  margin-left: 15px;
  margin-right: 15px;
}

.card-imagem {
  width: auto; /* Defina a largura desejada */
  height: auto; /* Defina a altura desejada */
  background-image: url('https://live.staticflickr.com/65535/54074602747_45189fdbb5_c.jpg');
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
}

ion-card-subtitle {
  color: rgb(14, 13, 13);
  font-size: 1.1rem;
  margin: 10px;
}

ion-card-title {
  color: rgb(12, 12, 12);
  font-size: 1.3rem;
  margin: 10px;
}
.card-title{
  color: rgb(252, 250, 250);
  font-size: 1.3rem;
  margin: 10px;

}
.video-avatar {
  width: 40px; /* Ajusta o tamanho para ser menor */
  height: 40px;
  overflow: hidden;
  border-radius: 50%; /* Mantém o formato circular */
}

h2 {
  margin: 50px;
}
.butto-biblie{
  --background:#faf6f6;
  color: rgb(0, 0, 0);
  --border: 1px;
  --border-color: rgb(0, 0, 0);
  margin-bottom: 5%;
  margin-top: 5%;

}
.pregacao{
  max-width: 90%;
  margin-right: 10px;

}




